ul{

}

.container
{
    max-width: none;
    width: auto;
    margin-left: 230px;
}

#questionare_content .title{
    width: 100%;
    text-align: center;
}

#questionare_content ul li{
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 10px;
}


#questionare_content ul li .row{
    margin: 0;
}

.lp{
    width: 25px;
    height: 25px;
    position: initial;
    padding: 3px 7px;
    color: white;
    background-color: black;
}

#questionare_content ul li input{
    border-radius: 0;
    max-width: none;
}

.actions{
    float: right;
    width: 70px;
}

.actions i{
    margin-right: 5px;
    float: left;
}

.actions i:hover{
   text-decoration: underline;
}

.answers{
    padding: 15px 55px;
}

.addAnswerLabel{
    margin-bottom: 20px;
    margin-left: 30px;
}

.addAnswerLabel:hover{
    text-decoration: underline;
    cursor: default;
}

.answer{
    margin-bottom: 5px;
}