@model QuertionnaireCreator.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div id="manage_panel">
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Moje ankiety:</dt>
        </dl>
        <div style="margin-left: 5px; margin-top: -5px; float: left;" data-bind="foreach: questionares">
            <div data-bind="click: selected, text: name">

            </div>
        </div>
    </div>

</div>

<script>
    var ManageVM;

    $(document).ready(function () {
        ManageVM = new manageVM();

        ko.applyBindings(ManageVM, document.getElementById("manage_panel"));
    });
</script>

@section Scripts
{
    @Scripts.Render("~/Scripts/ViewModels/ManageVM.js")

}