@{
    ViewBag.Title = "Kwestionariusz";
}

<div class="jumbotron" style="margin-top: 100px;">
    <h1 style="font-family: Neuropol; text-align: center;">KWESTIONARIUSZ</h1>
    <p style="width: 100px; margin: auto;"><a href="http://asp.net" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_questionare_modal">Utwórz &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@



<div class="modal fade" id="new_questionare_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Nowy kwestionariusz </h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Nazwa" data-bind="value: name" style="width: 400px; margin: auto;"/>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn-primary custom_button modal_button" value="Zamknij" data-dismiss="modal" />
                <input data-bind="click: save" type="button" class="btn-primary custom_button modal_button" value="Dalej" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var NewQuestionareModalVM = new newQuestionareModalVM();
        ko.applyBindings(NewQuestionareModalVM, document.getElementById("#new_questionare_modal"));
    });
</script>


@section Scripts
{
    @Scripts.Render("~/Scripts/ViewModels/NewQuestionareModalVM.js")

}


